<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->
<title>
    <%= title !== undefined ? title : `Zokimet` %>
</title>
</head>
<body>

<h1><%= name%> Thank you for using zokimet</h1>

<p>author James Zokah</p>
<a href="https://www.facebook.com/james.zokah" ><span class="iconify" data-icon="akar-icons:facebook-fill" data-inline="false"></span></a>
        
<!-- include footer -->
<%- include('include/_footer') %>
    <!-- /include footer -->    